/*mix-ins*/
@mixin rounded_corners {
	$pixels: 3px;
	-moz-border-radius:$pixels;
	-webkit-border-radius:$pixels;
	border-radius:$pixels;
}

$color1: #016699; /*k12 edu */
// $color1: #6a8b95;
$color2: #329797;
//$color2: #b16a6a; /*general gov */
$color3: #ddb981; /*higher edu*/
$color4: #fd8a23; /*k12 edu */
$color5: #c4d0d6; /*public safety*/
$color6: #986598; /* health care */
$color7: #3288BD; /*social services*/
$color8: #956a77; /*state employees*/
$color9: #74a896; /*taxes*/
$color10:#b7c5a4; /*natural resources*/
$color11:#65765b; /*budget shift*/

/*
$color1: #6a6d95;
$color2: #88aeb7;
$color3: #e59f80;
$color4: #b2d18d;
$color5: #3288BD;
$color6: #3288BD;
$color7: #3288BD;
$color8: #66C2A5;
$color9: #3288BD;*/
$darkText: #303030;
$benchmarkgreen: #4d8330;
$darkgray: #333;
$mediumgray: #666;