{% extends 'balance_budget/base.html' %}

{% block content %}

<div class="content" id="balance_budget">
    <div class="row">      
       <div class="sevencol proposal_container">
       		<h3>Budget options</h3>
		</div> <!-- end seven col -->


		 <div class="fivecol budget last" >
		    <div id="budgetUnique">
		         <h3>Your budget: <span id="balance_total" class="savings_label"> </span></h3>
		         <div class="fivecol">
		             <div class="budget_container">
		                 <div class="budget_proposal_container">
		                     <div id="instructions">
		                     </div>
		                 {% for benchmark in benchmarks %}
		                   <div class="line" data="{{benchmark.value}}" style="bottom:{{benchmark.pixelHeight}}px">
		                   </div>
		                 {% endfor %}
		                 <div class="deficit line"> </div>
		                     <div class="bottom_container">
		                     {% spaceless %}
		                      {% for category in categories %}
		                         {% for section in sections %}
		                               {% if section.category.name == category.name %} 
		                                     <li 
		                                         id='your_budget_section{{ section.id }}' 
		                                         data="{{ section.value }}" 
		                                         class="proposal row {{ category.name|slugify }}"
		                                         style="height:{{ section.pixelHeight }}px"
		                                     >  
		                                             <div class="section_inner_wrapper">
		                                                 <div class="ninecol">
		                                                     {{ section.name }}
		                                                 </div>
		                                                 <div class="threecol last">
		                                                     ${{ section.valueFormatted }}
		                                                 </div>
		                                             </div>
		                                         </li>
		                                    {% endif %}
		                             {% endfor %}
		                         {% endfor %}
		             {% endspaceless %}
		                     </div><!--end bottom_container-->
		                 </div><!--end budget proposal container-->
		             </div><!--end budget container-->
		         </div><!--end ninecol-->
		         <div class="sevencol last benchmarks">
		             {% for benchmark in benchmarks %}
		                <div class="axis_label" style="bottom:{{benchmark.pixelHeight}}px">
		                     <div class="nested_axis">
		                          <strong>${{benchmark.formattedValue}}</strong>
		                          <span class="benchmark_descrip">{{benchmark.description}}</span>
		                          <span class="benchmark_descrip_mobile">{{benchmark.name}}</span> 
		                     </div>
		                </div>
		             {% endfor %}
		             <div class="deficit axis_label" id="deficit_label" data="-1000000">
		                 <strong>-$1m</strong> Current deficit
		            </div>
		         </div>
		     </div><!--end budgetUnique-->
		</div><!--end fivecol budget last-->
		<div id="proposal_bottom" class="clear"></div>
		<div class="row" id="footer">
		        <div class="twelvecol last">
		        <p class="copyright">© 2013 <a href="http://seattletimes.com">The Seattle Times</a> | <a href="mailto:webmaster@seattletimes.com">Feedback</a></p>
		        </div>
		    </div>
	</div>
</div>


{% endblock %}

{% block jslibs %}
	<script data-main="{{ STATIC_URL }}scripts/main" src="{{ STATIC_URL }}/scripts/require.js"></script>
{% endblock %}
