{% extends 'balance_budget/base.html' %}

{% block content %}

<div class="content" id="balance_budget">
    <div class="row">
        <div class="sevencol">
            <h3>You’re the expert</h3>
            <p>Do you live, work, go to school, shop or relax in Thurston County?  Then you are a local transportation expert.  You travel here. </p> 
            <p>The list of ideas below comes from people like you.  These are big ideas to make travel better in Thurston County between now and 2040.  But they reach beyond existing budgets.</p>
            <h3>Instructions:</h3>
            <p>Click investment Options on the left to add or remove them.</p>
            <h3>Invest $500 </h3> 
            <p>Instead of millions and billions of dollars, each item below is scaled to a hypothetical budget – more like an annual household budget.  If that household is willing to spend an additional $500 a year to make transportation improvements ...  Where should that money go? Is it enough? </p>
            <p>Use the budget calculator below to explore where you would invest.</p>
            <h3>Tell us how you’d do it.</h3>
            <p><a href="">Take this short survey.</a>  Tell policy makers about your transportation priorities. Where would you invest?</p>


        </div>
    </div>
    <div class="row">      
       <div class="sevencol proposal_container">
            <h3>Investment</h3>
        </div> <!-- end seven col -->


         <div class="fivecol budget last" >
            <div id="budgetUnique">
                 <h3>Investment: <span id="balance_total" class="savings_label"> </span></h3>
                 <div class="fivecol">
                     <div class="budget_container">
                         <div class="budget_proposal_container">
                             <div id="instructions">
                             </div>
                         {% for benchmark in benchmarks %}
                           <div class="line" data="{{benchmark.value}}" style="bottom:{{benchmark.pixelHeight}}px">
                           </div>
                         {% endfor %}
                         <div class="deficit line"> </div>
                             <div class="bottom_container">
                             {% spaceless %}
                              {% for category in categories %}
                                 {% for section in sections %}
                                       {% if section.category.name == category.name %} 
                                             <li 
                                                 id='your_budget_section{{ section.id }}' 
                                                 data="{{ section.value }}" 
                                                 class="proposal row {{ category.name|slugify }}"
                                                 style="height:{{ section.pixelHeight }}px"
                                             >  
                                                     <div class="section_inner_wrapper">
                                                         <div class="ninecol">
                                                             {{ section.name }}
                                                         </div>
                                                         <div class="threecol last">
                                                             ${{ section.valueFormatted }}
                                                         </div>
                                                     </div>
                                                 </li>
                                            {% endif %}
                                     {% endfor %}
                                 {% endfor %}
                     {% endspaceless %}
                             </div><!--end bottom_container-->
                         </div><!--end budget proposal container-->
                     </div><!--end budget container-->
                 </div><!--end ninecol-->
                 <div class="sevencol last benchmarks">
                     {% for benchmark in benchmarks %}
                        <div class="axis_label" style="bottom:{{benchmark.pixelHeight}}px">
                             <div class="nested_axis">
                                  <strong>${{benchmark.formattedValue}}</strong>
                                  <span class="benchmark_descrip">{{benchmark.description}}</span>
                                  <span class="benchmark_descrip_mobile">{{benchmark.name}}</span> 
                             </div>
                        </div>
                     {% endfor %}
<!--                     <div class="deficit axis_label" id="deficit_label" data="-1000000">
                         <strong>-$1m</strong> Current deficit
                    </div> -->
                 </div>
             </div><!--end budgetUnique-->
        </div><!--end fivecol budget last-->
        <div id="proposal_bottom" class="clear"></div>
        <div class="row" id="footer"></div>
    </div>
</div>


{% endblock %}

{% block jslibs %}
    <script data-main="{{ STATIC_URL }}scripts/main" src="{{ STATIC_URL }}/scripts/require.js"></script>
{% endblock %}
