{% extends 'balance_budget/base.html' %}

{% block customcss %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="hero-unit">
            <h1>Production tools</h1>
            <p>Here's our roundup of the best tools for Seattle Times home page producers.</p>
        </div>
        <div class="row">
            <div class="span4">
                <h2>Table maker</h2>
                <p>This tool allows producers to easily turn spreadsheets into sortable html tables, with Seattle Times' style.</p>
                <p><a class="btn" href="table/">Use table maker</a></p>
            </div>
            <div class="span4">
                <h2>Timeline creator</h2>
                <p>Use this tool to create and edit interactive timelines, thanks to ProPublica's Timeline Setter tool.</p>
                <p><a class="btn" href="timeline/">Use timeline creator</a></p>
            </div>
            <div class="span4">
                <h2>Word cloud creator</h2>
                <p>Generate code to embed a word cloud &mdash; a simple app for reader engagement.</p>
                <p><a class="btn" href="word-cloud/">Use word cloud creator</a></p>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <h2>Twitter-map creator</h2>
                <p>Create maps using twitter lists.</p>
                <p><a class="btn" href="twittermap/">Use twitter map creator</a></p>
            </div>
        </div>
        
        
    

        
        
    </div>
{% endblock %}

