<li 
    id='your_budget_section<%= id %>' 
    data="<%= attributes.value %>" 
    class="proposal row <%= attributes.category.slug %>"
    draggable="true"
    data-id="<%= id %>"
    style="height:<%= getPixelHeight(attributes.value) %>px; display:<%= display() %>"
>  
        <div class="section_inner_wrapper">
            <div class="ninecol">
                <%= attributes.name %>
                
            </div>
            <div class="threecol last">
                <%= attributes.value %>
            </div>
        </div>
    </li>
    